@use "../../app/variables.module" as vars;

.projectList {
  list-style-type: none;
}

.cardAnchor {
  color: inherit;
  text-decoration: none;
}

.card {
  padding: 8px;
  border: 0;
  box-shadow: 1px 1px 3px 1px vars.$cardShadowColor;
  margin-bottom: 16px;
  background: vars.$backgroundColor;
  transition: all 0.5s;
  &:hover {
    transform: scale(1.05);
  }
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardTitle {
  font-size: 10px;
  font-weight: 700;
}

.cardDeadline {
  display: flex;
  align-items: center;
  color: vars.$fontColorDark;
}

.calenderIcon {
  margin-right: 2px;
  font-size: 10px;
}

.cardDeadlineDate {
  font-size: 8px;
  font-weight: 700;
}

.cardBody {
  padding: 8px 0;
  justify-content: space-between;
}

.cardGoal {
  display: flex;
  align-items: center;
  margin-right: 16px;
  font-size: 15px;
  color: vars.$fontColorDark;
  font-weight: 700;
}

.shouldbe {
  display: flex;
  align-items: center;
  font-size: 10px;
  font-weight: 100;
  color: vars.$fontColorWeak;
}

.cardFooter {
  display: flex;
  justify-content: flex-end;
  color: vars.$fontColorWeak;
}

.cardStats {
  display: flex;
  align-items: center;
}

.cardMilestone {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.codeCommitIcon {
  margin-right: 2px;
  font-size: 14px;
}

.cardStatsText {
  font-size: 8px;
  color: vars.$fontColorDarkWeak;
}

.cardTask {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.cardIcon {
  margin-right: 4px;
  margin-left: 8px;
}

.cardStatsText {
  font-size: 8px;
  color: vars.$fontColorDarkWeak;
}
