$primartColor: #42b883;
$fontColorLight: #fff;
$contentBgColor: #fbfbfb;
$fontColorDark: #55655c;
$sidebarHoverBgColor: #c2e2d4;
$backgroundColor: #fefefe;
$fontColorWeak: #94ae9f;
$fontColorDarkWeak: #94ae9f;
$cardShadowColor: #22222210;
$tableBorderColor: #e2e2e290;
